version: "3.9"

services:
    minio:
        image: minio/minio:latest
        container_name: cip-minio-bucket
        restart: unless-stopped
        env_file: .env
        environment:
            MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
            MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin}
            MINIO_REGION: ${MINIO_REGION:-us-east-1}
        ports:
            - "9000:9000" # API
            - "9001:9001" # Consola web
        volumes:
            - ./data:/data
            - ./config:/root/.minio
        command: server /data --console-address ":9001"

    create-bucket:
        image: minio/mc:latest
        depends_on:
            - minio
        env_file: .env
        entrypoint: >
            /bin/sh -c "
              echo 'Waiting for MinIO...';
              until mc alias set local http://minio:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD}; do
                sleep 2;
              done;
              mc mb -p local/${MINIO_BUCKET} || true;
              mc anonymous set public local/${MINIO_BUCKET} || true;
              echo 'Bucket ready';
            "
