<div style='font-family: Arial, sans-serif; padding: 20px;'>
  <h2>¡Bienvenido al Colegio de Ingenieros de Perú - Consejo Departamental de
    Loreto,
    {{name}}!</h2>
  <p>Gracias por registrarte en nuestra plataforma de eventos.</p>
  <p>Por favor, confirma tu correo electrónico haciendo clic en el botón de
    abajo:</p>

  <a
    href='{{url}}'
    style='background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;'
  >
    Confirmar Email
  </a>

  <p>Si no solicitaste este registro, puedes ignorar este correo.</p>
</div>
